In [1]:
# Loop over a list
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
  print(fruit)

apple
banana
cherry

In [2]:
# Loop over characters in a string
word = "hello"
for char in word:
  print(char)

h
e
l
l
o

In [3]:
# Using range()
for i in range(5):
  print(i)

0
1
2
3
4

In [4]:
# Loop with math
for i in range(1, 6):
  print(f'{i} squared is', i ** 2)

1 squared is 1
2 squared is 4
3 squared is 9
4 squared is 16
5 squared is 25

In [5]:
# Lits of 3 favorites movies
movies = ['One Piece', 'The Dark Knight', 'Rurouni Kenshin']

for movie in movies:
  print(movie.upper())

ONE PIECE
THE DARK KNIGHT
RUROUNI KENSHIN