<a href="https://colab.research.google.com/github/Riley-Hoang/3603-Programming-for-Data-Science/blob/main/Assignments/06-Working_with_Data_Adv/02_pandas_series_and_dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# 1. Create a Series from a dictionary of state abbreviations to population
state_populations = {
    "CA": 39_500_000,
    "TX": 29_000_000,
    "FL": 21_500_000,
    "NY": 19_500_000,
    "PA": 12_800_000
}

state_pop_series = pd.Series(state_populations)
print("State Populations Series:")
print(state_pop_series)
print(f"\nPopulation of Texas: {state_pop_series['TX']:,}")
print("\nPopulations in millions:")
print(state_pop_series / 1_000_000)

# 2. Create a DataFrame for 5 students
student_data = {
    "Name": ["Emma", "Liam", "Olivia", "Noah", "Ava"],
    "GPA": [3.8, 3.2, 3.9, 2.9, 3.7],
    "Credits": [105, 75, 115, 60, 95],
    "Graduating": [True, False, True, False, False]
}

students_df = pd.DataFrame(student_data)
print("\nStudent DataFrame:")
print(students_df)

# 3. Access a row using .loc[] and a column using bracket notation
print("\nOlivia's record (using .loc[2]):")
print(students_df.loc[2])

print("\nGPA column (using bracket notation):")
print(students_df["GPA"])

# 4. Print the .shape, .columns, and .info() of your DataFrame
print(f"\nDataFrame shape: {students_df.shape}")
print(f"DataFrame columns: {students_df.columns.tolist()}")

print("\nDataFrame info:")
print(students_df.info())

# ðŸŽ¯ Bonus: Rename a column just to mess with the future grader
students_df.rename(columns={"Credits": "Credit_Hours"}, inplace=True)
print("\nAfter renaming 'Credits' to 'Credit_Hours':")
print(students_df.head())

State Populations Series:
CA    39500000
TX    29000000
FL    21500000
NY    19500000
PA    12800000
dtype: int64

Population of Texas: 29,000,000

Populations in millions:
CA    39.5
TX    29.0
FL    21.5
NY    19.5
PA    12.8
dtype: float64

Student DataFrame:
     Name  GPA  Credits  Graduating
0    Emma  3.8      105        True
1    Liam  3.2       75       False
2  Olivia  3.9      115        True
3    Noah  2.9       60       False
4     Ava  3.7       95       False

Olivia's record (using .loc[2]):
Name          Olivia
GPA              3.9
Credits          115
Graduating      True
Name: 2, dtype: object

GPA column (using bracket notation):
0    3.8
1    3.2
2    3.9
3    2.9
4    3.7
Name: GPA, dtype: float64

DataFrame shape: (5, 4)
DataFrame columns: ['Name', 'GPA', 'Credits', 'Graduating']

DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        5 non-null      object
 1   GPA         5 non-null      float64
 2   Credits     5 non-null      int64
 3   Graduating  5 non-null      bool
dtypes: bool(1), float64(1), int64(1), object(1)
memory usage: 257.0+ bytes
None

After renaming 'Credits' to 'Credit_Hours':
     Name  GPA  Credit_Hours  Graduating
0    Emma  3.8           105        True
1    Liam  3.2            75       False
2  Olivia  3.9           115        True
3    Noah  2.9            60       False
4     Ava  3.7            95       False